.dice {
  padding: 4px;
  background-color: #007EA7;
  width: 104px;
  height: 104px;
  border-radius: 10%;
  display: flex;
  grid-column: 1;
  grid-row: 1;
}

.dot {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
}

.first-face {
  justify-content: center;
  align-items: center;
}

.second-face, .third-face, .fourth-face, .fifth-face, .sixth-face, .seventh-face, .eighth-face, .ninth-face {
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2), .third-face .dot:nth-of-type(3) {
  align-self: flex-end;
}

.third-face .dot:nth-of-type(2) {
  align-self: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2), .seventh-face .column:nth-of-type(2) {
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -4px -290.6666666667px #0084ff, -7px -362.6666666667px #ff00c8, -199px -204.6666666667px #ff3700, -141px -152.6666666667px #ffc400, 126px 32.3333333333px #ff3c00, -30px -282.6666666667px #a200ff, -248px -14.6666666667px #00ffe6, -42px -391.6666666667px #ff00ee, -121px 43.3333333333px #ff006a, 202px -294.6666666667px #ff1e00, 70px 3.3333333333px #ff00ee, -239px -267.6666666667px #ff9100, 119px -111.6666666667px #00ffd9, 22px -386.6666666667px #c800ff, -63px -336.6666666667px #ff00b7, 249px 67.3333333333px #ff0073, 129px -354.6666666667px #ff00b7, -44px -221.6666666667px #00ff44, 104px 66.3333333333px #77ff00, 214px -412.6666666667px #ddff00, 223px -182.6666666667px #00ffb7, 80px -132.6666666667px #0900ff, 33px -202.6666666667px #ff0004, -90px -216.6666666667px #ff007b, -205px -188.6666666667px #ff0400, -135px -150.6666666667px #002fff, -234px -365.6666666667px #ff007b, 86px -409.6666666667px #d5ff00, 249px 55.3333333333px #ff3300, 109px -318.6666666667px #ff0009, -216px 66.3333333333px #48ff00, 44px -379.6666666667px #b700ff, 249px -117.6666666667px #ff00cc, -9px -325.6666666667px #ff00ea, -124px -407.6666666667px #f7ff00, -142px -126.6666666667px #0077ff, 49px -226.6666666667px #ff00f2, -170px -318.6666666667px #b700ff, -247px -317.6666666667px #ff00a2, 87px -387.6666666667px #1aff00, -36px -365.6666666667px #0055ff, -161px -386.6666666667px #00ff9d, -161px -8.6666666667px #ff6600, -79px -216.6666666667px #00ffbb, 158px -246.6666666667px #ff0037, -66px -176.6666666667px darkorange, -35px -391.6666666667px #003cff, 155px -176.6666666667px #ff3300, -87px -306.6666666667px #6aff00, -13px -127.6666666667px #ff0062, -82px 55.3333333333px lime;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -4px -290.6666666667px #0084ff, -7px -362.6666666667px #ff00c8, -199px -204.6666666667px #ff3700, -141px -152.6666666667px #ffc400, 126px 32.3333333333px #ff3c00, -30px -282.6666666667px #a200ff, -248px -14.6666666667px #00ffe6, -42px -391.6666666667px #ff00ee, -121px 43.3333333333px #ff006a, 202px -294.6666666667px #ff1e00, 70px 3.3333333333px #ff00ee, -239px -267.6666666667px #ff9100, 119px -111.6666666667px #00ffd9, 22px -386.6666666667px #c800ff, -63px -336.6666666667px #ff00b7, 249px 67.3333333333px #ff0073, 129px -354.6666666667px #ff00b7, -44px -221.6666666667px #00ff44, 104px 66.3333333333px #77ff00, 214px -412.6666666667px #ddff00, 223px -182.6666666667px #00ffb7, 80px -132.6666666667px #0900ff, 33px -202.6666666667px #ff0004, -90px -216.6666666667px #ff007b, -205px -188.6666666667px #ff0400, -135px -150.6666666667px #002fff, -234px -365.6666666667px #ff007b, 86px -409.6666666667px #d5ff00, 249px 55.3333333333px #ff3300, 109px -318.6666666667px #ff0009, -216px 66.3333333333px #48ff00, 44px -379.6666666667px #b700ff, 249px -117.6666666667px #ff00cc, -9px -325.6666666667px #ff00ea, -124px -407.6666666667px #f7ff00, -142px -126.6666666667px #0077ff, 49px -226.6666666667px #ff00f2, -170px -318.6666666667px #b700ff, -247px -317.6666666667px #ff00a2, 87px -387.6666666667px #1aff00, -36px -365.6666666667px #0055ff, -161px -386.6666666667px #00ff9d, -161px -8.6666666667px #ff6600, -79px -216.6666666667px #00ffbb, 158px -246.6666666667px #ff0037, -66px -176.6666666667px darkorange, -35px -391.6666666667px #003cff, 155px -176.6666666667px #ff3300, -87px -306.6666666667px #6aff00, -13px -127.6666666667px #ff0062, -82px 55.3333333333px lime;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -4px -290.6666666667px #0084ff, -7px -362.6666666667px #ff00c8, -199px -204.6666666667px #ff3700, -141px -152.6666666667px #ffc400, 126px 32.3333333333px #ff3c00, -30px -282.6666666667px #a200ff, -248px -14.6666666667px #00ffe6, -42px -391.6666666667px #ff00ee, -121px 43.3333333333px #ff006a, 202px -294.6666666667px #ff1e00, 70px 3.3333333333px #ff00ee, -239px -267.6666666667px #ff9100, 119px -111.6666666667px #00ffd9, 22px -386.6666666667px #c800ff, -63px -336.6666666667px #ff00b7, 249px 67.3333333333px #ff0073, 129px -354.6666666667px #ff00b7, -44px -221.6666666667px #00ff44, 104px 66.3333333333px #77ff00, 214px -412.6666666667px #ddff00, 223px -182.6666666667px #00ffb7, 80px -132.6666666667px #0900ff, 33px -202.6666666667px #ff0004, -90px -216.6666666667px #ff007b, -205px -188.6666666667px #ff0400, -135px -150.6666666667px #002fff, -234px -365.6666666667px #ff007b, 86px -409.6666666667px #d5ff00, 249px 55.3333333333px #ff3300, 109px -318.6666666667px #ff0009, -216px 66.3333333333px #48ff00, 44px -379.6666666667px #b700ff, 249px -117.6666666667px #ff00cc, -9px -325.6666666667px #ff00ea, -124px -407.6666666667px #f7ff00, -142px -126.6666666667px #0077ff, 49px -226.6666666667px #ff00f2, -170px -318.6666666667px #b700ff, -247px -317.6666666667px #ff00a2, 87px -387.6666666667px #1aff00, -36px -365.6666666667px #0055ff, -161px -386.6666666667px #00ff9d, -161px -8.6666666667px #ff6600, -79px -216.6666666667px #00ffbb, 158px -246.6666666667px #ff0037, -66px -176.6666666667px darkorange, -35px -391.6666666667px #003cff, 155px -176.6666666667px #ff3300, -87px -306.6666666667px #6aff00, -13px -127.6666666667px #ff0062, -82px 55.3333333333px lime;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -4px -290.6666666667px #0084ff, -7px -362.6666666667px #ff00c8, -199px -204.6666666667px #ff3700, -141px -152.6666666667px #ffc400, 126px 32.3333333333px #ff3c00, -30px -282.6666666667px #a200ff, -248px -14.6666666667px #00ffe6, -42px -391.6666666667px #ff00ee, -121px 43.3333333333px #ff006a, 202px -294.6666666667px #ff1e00, 70px 3.3333333333px #ff00ee, -239px -267.6666666667px #ff9100, 119px -111.6666666667px #00ffd9, 22px -386.6666666667px #c800ff, -63px -336.6666666667px #ff00b7, 249px 67.3333333333px #ff0073, 129px -354.6666666667px #ff00b7, -44px -221.6666666667px #00ff44, 104px 66.3333333333px #77ff00, 214px -412.6666666667px #ddff00, 223px -182.6666666667px #00ffb7, 80px -132.6666666667px #0900ff, 33px -202.6666666667px #ff0004, -90px -216.6666666667px #ff007b, -205px -188.6666666667px #ff0400, -135px -150.6666666667px #002fff, -234px -365.6666666667px #ff007b, 86px -409.6666666667px #d5ff00, 249px 55.3333333333px #ff3300, 109px -318.6666666667px #ff0009, -216px 66.3333333333px #48ff00, 44px -379.6666666667px #b700ff, 249px -117.6666666667px #ff00cc, -9px -325.6666666667px #ff00ea, -124px -407.6666666667px #f7ff00, -142px -126.6666666667px #0077ff, 49px -226.6666666667px #ff00f2, -170px -318.6666666667px #b700ff, -247px -317.6666666667px #ff00a2, 87px -387.6666666667px #1aff00, -36px -365.6666666667px #0055ff, -161px -386.6666666667px #00ff9d, -161px -8.6666666667px #ff6600, -79px -216.6666666667px #00ffbb, 158px -246.6666666667px #ff0037, -66px -176.6666666667px darkorange, -35px -391.6666666667px #003cff, 155px -176.6666666667px #ff3300, -87px -306.6666666667px #6aff00, -13px -127.6666666667px #ff0062, -82px 55.3333333333px lime;
  }
}
@keyframes bang {
  to {
    box-shadow: -4px -290.6666666667px #0084ff, -7px -362.6666666667px #ff00c8, -199px -204.6666666667px #ff3700, -141px -152.6666666667px #ffc400, 126px 32.3333333333px #ff3c00, -30px -282.6666666667px #a200ff, -248px -14.6666666667px #00ffe6, -42px -391.6666666667px #ff00ee, -121px 43.3333333333px #ff006a, 202px -294.6666666667px #ff1e00, 70px 3.3333333333px #ff00ee, -239px -267.6666666667px #ff9100, 119px -111.6666666667px #00ffd9, 22px -386.6666666667px #c800ff, -63px -336.6666666667px #ff00b7, 249px 67.3333333333px #ff0073, 129px -354.6666666667px #ff00b7, -44px -221.6666666667px #00ff44, 104px 66.3333333333px #77ff00, 214px -412.6666666667px #ddff00, 223px -182.6666666667px #00ffb7, 80px -132.6666666667px #0900ff, 33px -202.6666666667px #ff0004, -90px -216.6666666667px #ff007b, -205px -188.6666666667px #ff0400, -135px -150.6666666667px #002fff, -234px -365.6666666667px #ff007b, 86px -409.6666666667px #d5ff00, 249px 55.3333333333px #ff3300, 109px -318.6666666667px #ff0009, -216px 66.3333333333px #48ff00, 44px -379.6666666667px #b700ff, 249px -117.6666666667px #ff00cc, -9px -325.6666666667px #ff00ea, -124px -407.6666666667px #f7ff00, -142px -126.6666666667px #0077ff, 49px -226.6666666667px #ff00f2, -170px -318.6666666667px #b700ff, -247px -317.6666666667px #ff00a2, 87px -387.6666666667px #1aff00, -36px -365.6666666667px #0055ff, -161px -386.6666666667px #00ff9d, -161px -8.6666666667px #ff6600, -79px -216.6666666667px #00ffbb, 158px -246.6666666667px #ff0037, -66px -176.6666666667px darkorange, -35px -391.6666666667px #003cff, 155px -176.6666666667px #ff3300, -87px -306.6666666667px #6aff00, -13px -127.6666666667px #ff0062, -82px 55.3333333333px lime;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
h1 {
  color: #f1c40f;
  font-size: 4rem;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

p {
  color: #f1c40f;
  font-size: 1.2rem;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  align-self: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #003249;
  outline: 0;
}

.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.second {
  border-radius: 3em;
  border-color: #1abc9c;
  color: #fff;
  background-image: linear-gradient(to right, rgba(26, 188, 156, 0.6), rgba(26, 188, 156, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(26, 188, 156, 0.6) 10%, rgba(26, 188, 156, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(26, 188, 156, 0.6) 20%, rgba(26, 188, 156, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(26, 188, 156, 0.6) 30%, rgba(26, 188, 156, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(26, 188, 156, 0.6) 40%, rgba(26, 188, 156, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(26, 188, 156, 0.6) 50%, rgba(26, 188, 156, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(26, 188, 156, 0.6) 60%, rgba(26, 188, 156, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(26, 188, 156, 0.6) 70%, rgba(26, 188, 156, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(26, 188, 156, 0.6) 80%, rgba(26, 188, 156, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(26, 188, 156, 0.6) 90%, rgba(26, 188, 156, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
  background-position: 0 0;
  background-size: 100%;
  transition: background 300ms ease-in-out;
}
.second:hover {
  background-position: 100px;
}

.third {
  border-color: #007EA7;
  color: #fff;
  box-shadow: 0 0 40px 40px #007EA7 inset, 0 0 0 0 #007EA7;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #007EA7 inset, 0 0 10px 4px #007EA7;
}

.fourth {
  border-color: #f1c40f;
  color: #fff;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}

.fifth {
  border-color: #8e44ad;
  border-radius: 0;
  color: #8e44ad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}
.fifth:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #8e44ad;
  z-index: -1;
  transition: width 150ms ease-in-out;
}
.fifth:hover {
  color: #fff;
}
.fifth:hover:after {
  width: 110%;
}

.sixth {
  border-radius: 3em;
  border-color: #007EA7;
  color: #007EA7;
  background-image: linear-gradient(to bottom, transparent 50%, #007EA7 50%);
  background-position: 0% 0%;
  background-size: 210%;
  transition: background 150ms ease-in-out, color 150ms ease-in-out;
}
.sixth:hover {
  color: #fff;
  background-position: 0 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #CCDBDC;
  font-size: 12px;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "left-buttons left-dice right-dice right-buttons" "left-buttons left-calc right-calc right-buttons" "left-buttons left-calc right-calc right-buttons" "left-buttons control control right-buttons";
}

@media only screen and (max-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-areas: "left-dice right-dice" "left-calc right-calc" "left-buttons right-buttons";
  }

  .text-column > h2 {
    padding: 0;
  }
}
.left-dice-holder, .right-dice-holder {
  justify-items: center;
  display: grid;
  align-items: center;
}

.left-dice-holder {
  grid-area: left-dice;
}

.right-dice-holder {
  grid-area: right-dice;
}

.game-over-text {
  color: black;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.calculation-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left-c-c {
  align-items: flex-start;
  grid-area: left-calc;
  padding-left: 30px;
}

.right-c-c {
  align-items: flex-end;
  grid-area: right-calc;
  padding-right: 30px;
}

.calculation-text {
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
  color: #003249;
}

.line2, .line4, .line6 {
  text-decoration: underline;
}

.line8, .line9 {
  color: green;
}

.cash-text {
  color: white;
  text-align: center;
}

.text-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 100px;
}

.left-column {
  grid-area: left-buttons;
}

.right-column {
  grid-area: right-buttons;
}

.text-column > h2 {
  font-size: 1.4em;
  width: 80%;
  padding: 20px 0;
  text-align: center;
  align-items: center;
}

.text-column > h2:nth-of-type(1) {
  font-size: 1.7em;
}

.controls {
  grid-area: control;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.computer-switch {
  width: 180px;
  height: 90px;
  grid-area: control-right;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.roll-button {
  width: 200px;
  height: 104px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  z-index: 1;
}
.roll-button:hover {
  color: #003249;
}

.roll-button-text {
  color: white;
  font-size: 20px;
}

.invisible {
  visibility: hidden;
}

.powered-down {
  opacity: 50%;
}

/*# sourceMappingURL=styles.css.map */
