@use 'dice';
@use 'fireworks';
@use 'posh-button';
$dice-colour: #007EA7;
$calculation-box-distance-from-side: 280px;

.game-over-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.calculation-column{
  margin-top: -150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left-c-c{
  align-items: flex-start;
}

.right-c-c{
  align-items: flex-end;
}

.calculation-text{
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
  color: #003249;
}
.line2,.line4, .line6{
  text-decoration: underline;
}

.button{
  font-weight: bold;
  width: 80%;
  text-align: center;
  background-color: $dice-colour;
  opacity: 0.8;
  color: white;
  padding: 0px 0;
  border-radius: 10px;
}


.line8, .line9{
  color: green;
}

.cash-text{
  color: white;
  text-align: center;
}
.money-display-box{
  width:100%;
  margin: -8px;
  position: absolute;
  top: 190px;
  display: flex;
  justify-content: space-around;
}

.text-column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0px;
  margin-right: 0px;
}

.text-column > h2{
  font-size: 1.4em;
}
.text-column > h2:nth-of-type(1){
  font-size: 1.7em;
}

.roll-button{
    width: 200px;
    height: 104px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 0;
    margin: 0;
    &:hover{
      color: #003249;
    }
}

.roll-button-text{
  color: white;
  font-size: 30px;

}

.left{
  left: 10.5%;
}
.right{
  right: 11%;
}

.invisible{
  visibility: hidden;
}

.powered-down{
  opacity: 50%;
}
